@model InvestigatorReq.Models.Requisition
@{
    ViewBag.Title = "GetQuestions";
}

<h2>Accession number: @Model.AccessionID</h2>
<h3>Visit Information Requisition Form</h3>
<form id="req">
    <div>
        @foreach (var question in Model.ReqQuestions)
        {
            HtmlString questionHTML = new HtmlString(@question);
            <p>@questionHTML</p>
        }
    </div>
    <div>
        <input type="submit" title="Submit Req" />
    </div>
</form>